.cards{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 30px 24px;
    margin: 0 auto;
    padding: 70px 0 10px 0;
    box-sizing: border-box;
    justify-items: center;
}

.cards__title{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto;
    grid-column: 1 / 4;
}

@media screen and (max-width: 1023px) {
    .cards{
        grid-template-columns: repeat(2, minmax(342px, 1fr));
        grid-gap: 35px 24px;
        padding: 70px 30px 30px 30px;
    }
}

@media screen and (max-width: 767px) {
    .cards{
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-gap: 16px;
        padding: 40px 10px 30px 10px;
    }
}